= form_for [spina, :admin, current_account], url: spina.admin_account_path do |f|
  %header#header
    = render partial: 'spina/admin/shared/breadcrumbs'

    #header_actions
      %button.button.button-primary{type: 'submit'}
        = icon_spina('check')
        = t('spina.preferences.social_media_save')

  %div{style: "margin-top: 40px"}
    .horizontal-form
      - Spina.config.social_links.each do |name|
        .horizontal-form-group
          .horizontal-form-label
            = Spina::Account.human_attribute_name(name)
          .horizontal-form-content
            .page-form-control
              = f.text_field name, placeholder: Spina::Account.human_attribute_name(name)
