!!!
%html{lang: I18n.locale}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'initial-scale=1.0'}
    = csrf_meta_tags
    %meta{name: 'turbolinks-cache-control', content: 'no-preview'}

    %link{rel: 'icon', href: image_url("spina/favicon.png")}

    %title Spina CMS

    / Stylesheet
    %link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/trix/1.3.1/trix.min.css" integrity="sha512-5m1IeUDKtuFGvfgz32VVD0Jd/ySGX7xdLxhqemTmThxHdgqlgPdupWoSN8ThtUSLpAGBvA8DY2oO7jJCrGdxoA==" crossorigin="anonymous" referrerpolicy="no-referrer")
    = stylesheet_link_tag 'spina/admin/application', data: {turbolinks_track: true}

    /[if lt IE 9]
      = javascript_include_tag '//html5shiv.googlecode.com/svn/trunk/html5.js', data: {turbolinks_track: true}

    / JavaScript
    %script(src="https://cdnjs.cloudflare.com/ajax/libs/trix/1.3.1/trix.min.js" integrity="sha512-2RLMQRNr+D47nbLnsbEqtEmgKy67OSCpWJjJM394czt99xj3jJJJBQ43K7lJpfYAYtvekeyzqfZTx2mqoDh7vg==" crossorigin="anonymous" referrerpolicy="no-referrer")
    = javascript_include_tag 'spina/admin/application', data: {turbolinks_track: true}
    = yield(:plugin_stylesheets)

    / Plugins
    - Spina::Plugin.all.each do |plugin|
      - if current_theme.plugins.include? plugin.name
        - if lookup_context.exists? "spina/admin/hooks/#{ plugin.namespace }/_head"
          = render "spina/admin/hooks/#{ plugin.namespace }/head"

  %body
    = render 'spina/admin/shared/primary_navigation'

    %section#main
      = yield(:permanent_notice)

      = render 'spina/admin/shared/notifications'

      = content_for?(:application) ? yield(:application) : yield
